doctype html
//- Template: view-source:https://getbootstrap.com/docs/4.0/examples/sticky-footer/
html(lang='en', ng-app='adminApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title #{ title }
    //- Bootstrap core CSS
    link(href='/assets/libs/bootstrap/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/css/style.css', rel='stylesheet')
  body(ng-controller='mainController')
    main(role='main', class='container')
      if (user && user.username == 'administrator')
        h1 Administrator Dashboard
        p Logged in as #{ user.username }
        div(class='card')
          h5(class='card-header') Users
          div(class='card-body')
            ul(class='list-group list-group-flush')
              li(class='list-group-item', ng-repeat='user in Users') {{ user.username }} {{ user.mark_deleted }}
                button(type="button" class='btn btn-danger', style='float: right;', ng-click='deleteUser(user.username)') Delete
        hr
        div(class='card')
          h5(class='card-header') Curriculum
          div(class='card-body')
            ul(class='list-group list-group-flush')
              li(class='list-group-item', ng-repeat='question in Questions') {{ question.question_id }} - {{ question.question_text }} - 
                a(href='/admin-quiz/{{ question.question_id }}') Edit
      else
        Please log in as administrator account
    // - jQuery
    script(src='/assets/libs/jquery/jquery.min.js')
    //- AngularJS
    script(src='/assets/libs/angular/angular.min.js')
    //- ANGULAR CUSTOM
    script(src='/assets/js/adminApp.js')
