doctype html
//- Template: view-source:https://getbootstrap.com/docs/4.0/examples/sticky-footer/
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title #{ title }
    //- Bootstrap core CSS
    link(href='/assets/libs/bootstrap/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/css/style.css', rel='stylesheet')
  body
    main(role='main', class='container')
      h1 Administrator Dashboard
      p Some placeholder text for this
