extends ../lesson-layout.pug

block content
  .container
    .row
      .col-lg-3
        h5.my-4 
          a(href=course_url) #{ course }  
          i.fa.fa-arrow-right(aria-hidden='true')
          |  #{ title }  
        .list-group
          a.list-group-item(href='#!angular-variables',data-toggle="list",id="lesson-angular-variables") Angular Variables
          a.list-group-item(href='#!equations-of-rotational-motion',data-toggle="list",id="lesson-equations-of-rotational-motion") Equations of Rotational Motion
          a.list-group-item(href='#!rotational-kinetic-energy',data-toggle="list",id="lesson-rotational-kinetic-energy") Rotational Kinetic Energy
          a.list-group-item(href='#!axis-theorems',data-toggle="list",id="lesson-axis-theorems") Axis Theorems
          a.list-group-item(href='#!torque',data-toggle="list",id="lesson-torque") Torque
          a.list-group-item.active(href='#!rotational-work-and-power',data-toggle="list",id="lesson-rotational-work-and-power") Rotational Work and Power
          a.list-group-item(href='#!angular-momentum',data-toggle="list",id="lesson-angular-momentum") Angular Momentum
        if (user)
          hr
          button#lessonStatus.btn.btn-outline-secondary(type='button', style='float: left' disabled)
          .btn-group(role='group', aria-label='Basic example', style='float: right')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(true)')
              i.fa.fa-check-circle(aria-hidden='true')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(false)')
              i.fa.fa-times-circle(aria-hidden='true')
          
      //- /.col-lg-3
      .col-lg-9
        .card.mt-4
          .card-body
            p.card-text
              //- ANGULAR DYNAMIC CONTENT
              #lesson-module.container(ng-init='initiateQuiz()' data-topic='rotational_motion_and_angular_momentum' data-lesson='rotational_work_and_power')
                .row
                  .col-sm-2
                  .col-sm-8
                    h1.page-header Rotational Work and Power
                    p The work-energy theorem for rotationl motion is given by:
                    p $$ W = \frac{1}{2} I \omega^2_2 - \frac{1}{2} I \omega^2_1 $$
                    p The power is given by the following:
                    p $$ P = \tau \omega $$
                  .col-sm-2
              script(src='/assets/js/lesson.js')
