extends ../lesson-layout.pug

block content
  .container
    .row
      .col-lg-3
        h5.my-4 
          a(href=course_url) #{ course }  
          i.fa.fa-arrow-right(aria-hidden='true')
          |  #{ title }  
        .list-group
          a.list-group-item(href='#!pressure',id="lesson-pressure") Pressure 
          a.list-group-item(href='#!buoyancy',id="lesson-buoyancy") Buoyancy
          a.list-group-item(href='#!continuity',id="lesson-continuity") Continuity
          a.list-group-item(href='#!fluid-statics',id="lesson-fluid-statics") Fluid Statics
          a.list-group-item.active(href='#!fluid-dynamics',id="lesson-fluid-dynamics") Fluid Dynamics
        if (user)
          hr
          button#lessonStatus.btn.btn-outline-secondary(type='button', style='float: left' disabled)
          .btn-group(role='group', aria-label='Basic example', style='float: right')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(true)')
              i.fa.fa-check-circle(aria-hidden='true')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(false)')
              i.fa.fa-times-circle(aria-hidden='true')
          
      //- /.col-lg-3
      .col-lg-9
        .card.mt-4
          .card-body
            p.card-text
              //- ANGULAR DYNAMIC CONTENT
              #lesson-module.container(ng-init='initiateQuiz()' data-topic='fluid_mechanics' data-lesson='fluid_dynamics')
                .row
                  .col-sm-2
                  .col-sm-8
                    h1.page-header Fluid Dynamics
                    p
                      | There are many aspects of fluid dynamics that can be understood by simply applying the notions of particle mechanics such as energy, forces, and work. For incompressible fluids in particular, there is a simple relation between the pressure on the
                      | fluid, its height, and its velocity. Let us consider a small amount of mass entering a tube on one end and exiting on the other. The two ends are not necessarily at the same height, nor do they necessarily have the same area. The work done on
                      | the fluid b the external pressure as it enters is
                    p
                      | $$ W_1 = A_1 p_1 dx_1 $$
                    p
                      | Where \( A_1 \) is the area of the entrance, \( p_1 \) is the inward pressure, and \( d x_1 \) is the distance the fluid was pushed through by the pressure. Similarly, the work done by the external pressure upon exit is,
                    p
                      | $$ W_2 = - A_2 p_2 d x_2 $$
                    p
                      | Where the minus sign accounts for the opposite direction of the velocity (outwards) as compared with the pressure (inwards). The total work done on the fluid is then,
                    p
                      | $$ W_{ext} = W_1 + W_2 = A_1 p_1 d x_1 - A_2 p_2 d x_2 $$
                    p
                      | $$ W_{ext} = (p_1 - p_2) V $$
                    p
                      | Conservation of volume flow rate implies that over the same time the volume flowing inwards in equal to the volume flowing outwards and thus \( A_1 d x_2 = A_2 d x_2 = V \). As this work is done, there are changes in the fluid's kinetic and potential
                      | energies. These changes are,
                    p
                      | $$ \Delta K = \frac{1}{2} m v^2_2 - \frac{1}{2} m v_1^2, $$
                    p
                      | $$ \Delta U = m g h_2 - m g h_1 $$
                    p
                      | The relation between the external work done and the changes in kinetic and potential energy informs us that,
                    p
                      | $$ W_{ext} = \Delta K + \Delta U \rightarrow (p_1 - p_2) V = \frac{1}{2} m (v^2_2 - v^2_1) + mg (h_2 - h_1) $$
                    p
                      | Dividing through by the volume and rearranging, we arrive at a relation among the pressure, velocity, and height upon entrance and exit,
                    p
                      | $$ p_1 + \frac{1}{2} \rho_l v^2_1 + \rho_l g h_1 = p_2 + \frac{1}{2} \rho_l v^2_2 + \rho_l g h_2 $$
                    p In other words, the quantity on both sides is unchanged throughout the motion,
                    p
                      | $$ p + \frac{1}{2} \rho_l v^2 + \rho_l g h = constant $$
                    p This relation is known as Bernoulli's equation.
                    canvas#fluid-velocity-chart(width='800' height='500')
                  .col-sm-2
              script.
                new Chart(document.getElementById("fluid-velocity-chart"),
                chartConfig(
                'Pressure as a Function of Velocity',
                'Velocity (m/s)',
                [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                'Pressure (Pa)',
                [10000, 8100, 6400, 4900, 3600, 2500, 1600, 900, 400, 100]
                )
                );
              script(src='/assets/js/lesson.js')
