doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title Dashboard | Physics in Motion
    // Bootstrap core CSS
    link(href='assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='assets/css/dashboard/album.css', rel='stylesheet')
    link(href='assets/css/dashboard/dashboard.css', rel='stylesheet')
    // Set username as metadata if logged in
    if (user)
      meta(name='username', content=user.username)
    // Google Analytics
    include ../google-analytics.pug
  body
    if (!user)
      include ../navbar/default-nav.pug

    if (user)
      include ../navbar/user-nav.pug
            
    //main.container(role='main')
      .jumbotron
        h1 Welcome back!
        p Logged in as #{user.username}
        
        p.lead
          | This is your dashboard, where you can get an overview of the progress that you are making on your modules, or just go straight back to what you were working on previously.
        a.btn.btn-lg.btn-primary(href='../../components/navbar/', role='button') Continue learning            
  
    // Temporary fix for spacing issue below the navbar
    hr.featurette-divider.home-divider
    hr.featurette-divider.home-divider
    hr.featurette-divider.home-divider
    hr.featurette-divider.home-divider
    
    main.container(role='main')
      .my-3.p-3.bg-white.rounded.box-shadow
        h2.border-bottom.border-gray.pb-2.mb-0 Welcome back!
        p.text-muted Logged in as #{user.username}
        p This is your dashboard, where you can get an overview of the progress that you are making on your modules, or just go straight back to what you were working on previously.
        a.btn.btn-lg.btn-primary(id="latest-lesson" href='/courses', role='button') Continue learning 
      .my-3.p-3.bg-white.rounded.box-shadow
        h6.border-bottom.border-gray.pb-2.mb-0 Resume Learning
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Kinematics
              a(href='/kinematics') Continue
            span.d-block How things move though space. Learn how point objects move though both one-dimensional space, and two-dimensional space.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Forces
              a(href='/forces') Continue
            span.d-block What causes things to move through space. Learn about the phenomena that affects the motion of objects through space.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Energy
              a(href='/energy') Continue
            span.d-block The 'thing' that does work on an object. It makes things move, and is what makes the universe run at all scales, from the quantum to the astronomical.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Momentum
              a(href='/momentum') Continue
            span.d-block Momentum is what keeps an avalanche roll once it has been set off - once moving, it takes a large external force to stop!
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Simple Harmonic Motion
              a(href='/simple-harmonic-motion') Continue
            span.d-block Anytime there is something moving back and forth repeatedly in a consisten pattern, you have simple harmonic motion. Think of a pendulum.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Waves
              a(href='/waves') Continue
            span.d-block What happens when you have a system of objects interacting with each other through simple harmonic motion? You have waves.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Fluids
              a(href='/fluids') Continue
            span.d-block Different from point objects - think of so many point objects that they blend into one system known as a fluid. Or, you can just think about water.
        small.d-block.text-right.mt-3
          a(href='/courses') All Courses
      .my-3.p-3.bg-white.rounded.box-shadow
        h6.border-bottom.border-gray.pb-2.mb-0 Updates and News
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Welcome to the beta release of Physics in Motion!
              //a(href='#') Follow
            span.d-block This is only a beta release, with only a few courses created.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Updates to our Terms and Privacy
              //a(href='#') Follow
            span.d-block We have recently updated our Terms and Privacy pages.
        small.d-block.text-right.mt-3
          a(href='#') See more

    .container
      include ../footer/home-footer.pug  
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='assets/libs/jquery/dist/jquery.slim.min.js')
    script(src='assets/libs/jquery/dist/jquery.min.js')
    script(src='assets/libs/bootstrap/assets/js/vendor/popper.min.js')
    script(src='assets/libs/bootstrap/dist/js/bootstrap.min.js')
    script(src='assets/libs/bootstrap/assets/js/vendor/holder.min.js')
    // Font Awesome
    script(src='assets/libs/font-awesome/svg-with-js/js/fontawesome-all.min.js')
    // Help functions for user dashboard
    script(src='assets/js/dashboard.js')
