extends course-layout.pug

block content
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading #{ title }
      p.lead.text-muted
        | Start with the basics - the fundamentals of physics that all students of physics start with. Equivalent to an introductory course in physics.
  .album.py-5.bg-light
    .container
      .row
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Kinematics
              p.card-text
                | How things move though space. Learn about point objects move though one-dimensional space, and two-dimensional space. 
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/kinematics';") Start
                //small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Forces
              p.card-text
                | What causes things to move through space. Learn about the phenomena that affects the motion of objects through space.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/forces';") Start
                //small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Energy
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/energy';") Start
                //small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Momentum
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/momentum';") Start
                //small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Simple Harmonic Motion
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/simple-harmonic-motion';") Start
                //small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Waves
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/waves';") Start
                //small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Fluids
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/fluids';") Start
                //small.text-muted 9 mins
