extends course-layout.pug

block content
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading Courses
      p.lead.text-muted
        | All of our courses in one page.
  .album.py-5.bg-light
    .container
      .row
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Classical Mechanics
              p.card-text
                | Start with the basics - the fundamentals of physics that all students of physics start with. Equivalent to an introductory course in physics.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/classical-mechanics';") Start
                //- small.text-muted 9 mins
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Mathematics
              //- p.card-text
                | Whether you need a refresher, or need to learn something that you did not know before, we have you covered with all of the mathematics that you need to know.
              p.card-text
                | Whether you need a refresher, or need to learn something that you did not know before, we have you covered. <br><b>Coming soon.</b>
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  //- button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/mathematics';") Start
                  button.btn.btn-sm.btn-outline-secondary.disabled(type='button') Start
                //- small.text-muted 9 mins
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Resources
              p.card-text
                | A curated list of great external resources for learning mathematics and physics. Can be used as a supplement to our own curriculum at Physics in Motion.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/resources';") Start
                //- small.text-muted 9 mins
