extends course-layout.pug

block content
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading #{ title }
      p.lead.text-muted
        | Start with the basics - the fundamentals of physics that all students of physics start with. Based on an average high school curriculum.
        br
        a(href="/courses") See all courses.
  .album.py-5.bg-light
    .container
      .row
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Motion in One Dimension
              p.card-text
                | To learn how objects move through space, we need to start with the simplest case: motion in one dimenion.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/position';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Motion in Two Dimensions
              p.card-text
                | With our understanding of motion in one dimension, we explore motion in two dimensions.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-two-dimensions#!/two-dimensional-position';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Forces and the Laws of Motion
              p.card-text
                | The phenomena and laws that affect the motion of objects through space, and how to predict motion.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/forces-and-the-laws-of-motion#!/the-laws-of-motion';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Circular Motion
              p.card-text
                | A special case of applying the Laws of Motion for a common occurance in real life.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Work and Energy
              p.card-text
                | The phenoma that makes things move, and is what makes the universe run at all scales.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Linear Momentum and Collisions
              p.card-text
                | An object in motion will stay in motion unless acted on by an external force - such as a collision.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Rotational Motion and Angular Momentum
              p.card-text
                | How objects behave when they are rotating on an axis, such as wheels or spinning tops.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Oscillations
              p.card-text
                | How objects behave when they are moving back and forth, such as a person swinging on a swing.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Waves and Sounds
              p.card-text
                | The phenoma of many objects oscillating at the save time, such as ocean waves and sound waves.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Electricity and Magnetism
              p.card-text
                | Develop an understanding of a phenoma that allows our society to function that we often take for granted.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Fluid Mechanics
              p.card-text
                | Develop an understanding of how fluids behave and how it allows our society to function.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/motion-in-one-dimension#!/motion-in-one-dimension';") Start
                //- small.text-muted 9 mins

  
                
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Forces
              p.card-text
                | What causes things to move through space. Learn about the phenomena that affects the motion of objects through space.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/forces#!/newtons-laws';") Start
                //- small.text-muted 9 mins
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Energy
              p.card-text
                | The 'thing' that does work on an object. It makes things move, and is what makes the universe run at all scales, from the quantum to the astronomical.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/energy#!/conservative-forces';") Start
                //- small.text-muted 9 mins
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Momentum
              p.card-text
                | Momentum is what keeps an avalanche roll once it has been set off - once moving, it takes a large external force to stop!
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/momentum#!/momentum-conservation';") Start
                //- small.text-muted 9 mins
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Simple Harmonic Motion
              p.card-text
                | Anytime there is something moving back and forth repeatedly in a consisten pattern, you have simple harmonic motion. Think of a pendulum.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/simple-harmonic-motion#!/dynamics-simple-harmonic-motion';") Start
                //- small.text-muted 9 mins
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Waves
              p.card-text
                | What happens when you have a system of objects interacting with each other through simple harmonic motion? You have waves.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/waves#!/characteristics-waves';") Start
                //- small.text-muted 9 mins
        //- .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Fluids
              p.card-text
                | Different from point objects - think of so many point objects that they blend into one system known as a fluid. Or, you can just think about water.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/fluids#!/pressure';") Start
                //- small.text-muted 9 mins
