extends course-layout.pug

block content
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading Resources
      p.lead.text-muted
        | A curated list of great external resources for learning mathematics and physics. Can be used as a supplement to our own curriculum at Physics in Motion.
        br
        a(href="/courses") See all courses.
  .album.py-5.bg-light
    .container
      .row
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Paul's Math Notes
              p.card-text
                | Has notes for calculus I, calculus II, and calculus III, as well as linear algebra and differential equations. Also includes worked out practice problems.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'http://tutorial.math.lamar.edu/';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 MIT Open Courseware
              p.card-text
                | MIT Open Courseware offers courses in single variable calculus and multivariable calculus online for free, as well as many other great courses.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'https://ocw.mit.edu/courses/mathematics/';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Khan Academy
              p.card-text
                | Detailed video lessons on a large variety of topics within mathematics, starting from the very beginning, all the way to university mathematics.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'https://www.khanacademy.org/';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Wolfram Alpha
              p.card-text
                | An excellent tool that you can you to help you solve problems. Ask it whatever you want, and there is a good chance that it give you something useful back.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'http://www.wolframalpha.com/';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Desmos
              p.card-text
                | One of the best graphic applications out there. It allows you to create dynamic graphs that you can play around with in real time.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'https://www.desmos.com/calculator';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Freecodecamp
              p.card-text
                | A completely free resource that offers an excellent curriculum for front end and back end web development. One of the best resources out there.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'https://www.freecodecamp.org/';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Codecademy
              p.card-text
                | Codecademy offers dynamic interactive lessons for a variety of popular computer programming languages, as well as a few useful courses on working with databases.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'https://www.codecademy.com/';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 The New Boston
              p.card-text
                | The New Boston is a great YouTube channel that offers a wide variety of tutorial series on topics in computer programming.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'https://www.youtube.com/user/thenewboston';") Start
                //- small.text-muted 9 mins
        .col-md-4
          .card.mb-4.box-shadow
            .card-body
              h3 Brant Carlson
              p.card-text
                | A complete video series on an introduction to quantum mechanics based very closely with Griffith’s ‘Introduction to Quantum Mechanics’.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = 'https://www.youtube.com/playlist?list=PL65jGfVh1ilueHVVsuCxNXoxrLI3OZAPI';") Start
                //- small.text-muted 9 mins
