<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h1 class="page-header">Resources</h1>

			<p>The following is a curated list of good resources for learning mathematics and physics. You can learn quite a bit from many of the resources listed below, or use them as a reference to supplement Physics in Motion’s curriculum.</p>

			<h3 id="mathematics">Mathematics</h3>

			<p>As a mathematics major, your first year will consist of courses in calculus, linear algebra, and differential equations.</p>

			<p>Paul’s Math Notes has notes for <a href="http://tutorial.math.lamar.edu/Classes/CalcI/CalcI.aspx">calculus I</a>, <a href="http://tutorial.math.lamar.edu/Classes/CalcII/CalcII.aspx">calculus II</a>, and <a href="http://tutorial.math.lamar.edu/Classes/CalcIII/CalcIII.aspx">calculus III</a>,
				as well as <a href="http://tutorial.math.lamar.edu/Classes/DE/DE.aspx">differential equations</a>. His notes also include practice problems with solutions.</p>

			<p>If you would like lecture videos, <a href="https://ocw.mit.edu/index.htm">MIT Open Courseware</a> offers the above three courses online for free as <a href="https://ocw.mit.edu/courses/mathematics/18-01sc-single-variable-calculus-fall-2010/">single variable calculus</a> and
				<a
				  href="https://ocw.mit.edu/courses/mathematics/18-02sc-multivariable-calculus-fall-2010/">multivariable calculus</a>.</p>

			<p>Useful Resources</p>

			<p><a href="https://www.khanacademy.org/math">Khan Academy</a> offers detailed video lessons on a large variety of topics within mathematics, starting from the very beginning, all the way to post-secondary mathematics. In addition to video lessons, there
				is an interactive component where you can practice the skills that you learn, which keeps track of your progress.</p>

			<p><a href="http://tutorial.math.lamar.edu/">Paul’s Math Notes</a> is also a good resource to reference, in addition to Khan Academy. These are detailed lectured notes, with plenty of sample problems to look at.</p>

			<p><a href="http://www.wolframalpha.com/">Wolfram Alpha</a> is an excellent tool that you can you to help you solve problems. Ask it whatever you want, and there is a good chance that it give you something useful back. Although you can also graph functions
				using Wolfram Alpha, <a href="https://www.desmos.com/calculator">Desmos</a> has a more dynamic graphing function.</p>

			<h3 id="physics">Physics</h3>

			<p><a href="https://www.youtube.com/playlist?list=PL65jGfVh1ilueHVVsuCxNXoxrLI3OZAPI">Brant Carlson</a> has put up a complete video series on an introduction to quantum mechanics. He bases his videos very closely with Griffith’s ‘Introduction to Quantum
				Mechanics’, which is one of the best textbooks to learn quantum mechanics.</p>

			<h3 id="computer-programming">Computer Programming</h3>

			<p><a href="https://www.codecademy.com/learn">Codecademy</a> offers dynamic interactive lessons for a variety of popular computer programming languages.</p>

			<p><a href="https://www.youtube.com/user/thenewboston">The New Boston</a> is a great YouTube channel that offers a wide variety of tutorial series on topics in computer programming.</p>

		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
