extends ../lesson-layout.pug

block content
  .container
    .row
      .col-lg-3
        h5.my-4 
          a(href=course_url) #{ course }  
          i.fa.fa-arrow-right(aria-hidden='true')
          |  #{ title }  
        .list-group
          a.list-group-item(href='#!electric-charge',id="lesson-electric-charge") Electric Charge
          a.list-group-item(href='#!electric-fields',id="lesson-electric-fields") Electric Fields
          a.list-group-item.active(href='#!electric-potential',id="lesson-electric-potential") Electric Potential
          a.list-group-item(href='#!magnetic-fields',id="lesson-magnetic-fields") Magnetic Fields
          a.list-group-item(href='#!sources-of-magnetic-fields',id="lesson-sources-of-magnetic-fields") Sources of Magnetic Fields
        if (user)
          hr
          button#lessonStatus.btn.btn-outline-secondary(type='button', style='float: left' disabled)
          .btn-group(role='group', aria-label='Basic example', style='float: right')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(true)')
              i.fa.fa-check-circle(aria-hidden='true')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(false)')
              i.fa.fa-times-circle(aria-hidden='true')
          
      //- /.col-lg-3
      .col-lg-9
        .card.mt-4
          .card-body
            p.card-text
              //- ANGULAR DYNAMIC CONTENT
              #lesson-module.container(ng-init='initiateQuiz()' data-topic='electricity_and_magnetism' data-lesson='electric_potential')
                .row
                  .col-sm-2
                  .col-sm-8
                    h1.page-header Electric Potential
                    p
                      | Since electrostratic force is conservative, the concept of potential energy can be applied here. Consider a charge \( q \) in an electric field \( \vec{E} \). The electric field exerts a force \( q \vec{E} \) on the charge, and if you want to move the charge, you must exert a force \( - q \vec{E} \) on it. The work done is equal to the change in electric potential energy. For example, the gain in potential energy when a charge is moved from \( A \) to \( B \) is:
                    p $$ \Delta U = U_A - U_B $$
                    p It is useful to define the electric potential, which is defined as:
                    p $$ V = \frac{U}{q} $$
                    p The change in electric potential between two points is:
                    p $$ V = V_A - V_B $$
                    p where
                    p $$ \Delta U = q \Delta V $$
                    p
                      | Potential energy is measured in joules, and potential is measured in joules per coulomb. We also define a volt as \( 1 V = 1 \ J/C \). The zero point of electric potential, or of electric potential energy is arbitrary, similar to how the zero of elevation is arbitrary. For this reason, only differences in potential matter, and it may be easier to choose the zero wherever convenient.
                    p
                      | In the case of a constant electric field, the magnitude of the potential difference between two points separated by a distance \( x \) is:
                    p $$ \Delta V = E x $$
                    p
                      | If we choose the zero point of potential to be at \( x = 0 \) so that \( V(0) = 0 \), then \( V = E x \) and the potential energy of a charge \( q \) at point \( x \) is \( U = q E x = q V \). This is analgous to the potential energy of a mass \( m \) in a gravitational field \( g \).
                    p
                      | When an amount of charge \( e \) falls through \( 1 \ V \), its potential energy changes by 1 electronvolt (eV), where
                    p h1 \ eV = e \Delta V = 1.6 \times 10^{-19} J
                    p The electric potential of a point charge is given by the following:
                    p $$ V = \frac{q}{4 \pi \epsilon_0 r} $$
                  .col-sm-2
              script(src='/assets/js/lesson.js')
