extends lesson-layout.pug

block content
  a.list-group-item(href='#!symbols',data-toggle="list") Symbols
  a.list-group-item(href='#!scientific-notation',data-toggle="list") Scientific Notation
  a.list-group-item(href='#!significant-digits',data-toggle="list") Significant Digits
  a.list-group-item(href='#!basic-algebra',data-toggle="list") Basic Algebra
