extends lesson-layout.pug

block content
  a.list-group-item(href='#!symbols') Symbols
  a.list-group-item(href='#!scientific-notation') Scientific Notation
  a.list-group-item(href='#!significant-digits') Significant Digits
  a.list-group-item(href='#!basic-algebra') Basic Algebra
