extends lesson-layout.pug

block content
  a.list-group-item(href='#!functions',data-toggle="list") Functions
  a.list-group-item(href='#!derivatives',data-toggle="list") Derivatives
  a.list-group-item(href='#!integrals',data-toggle="list") Integrals
