extends lesson-layout.pug

block content
  a.list-group-item(href='#!electric-charge',data-toggle="list",id="lesson-electric-charge") Electric Charge
  a.list-group-item(href='#!electric-fields',data-toggle="list",id="lesson-electric-fields") Electric Fields
  a.list-group-item(href='#!electric-potential',data-toggle="list",id="lesson-electric-potential") Electric Potential
  a.list-group-item(href='#!magnetic-fields',data-toggle="list",id="lesson-magnetic-fields") Magnetic Fields
  a.list-group-item(href='#!sources-of-magnetic-fields',data-toggle="list",id="lesson-sources-of-magnetic-fields") Sources of Magnetic Fields
