extends lesson-layout.pug

block content
  a.list-group-item(href='#!electric-charge',data-toggle="list") Electric Charge
  a.list-group-item(href='#!electric-fields',data-toggle="list") Electric Fields
  a.list-group-item(href='#!electric-potential',data-toggle="list") Electric Potential
  a.list-group-item(href='#!magnetic-fields',data-toggle="list") Magnetic Fields
 a.list-group-item(href='#!sources-of-magnetic-fields',data-toggle="list") Sources of Magnetic Fields
