extends lesson-layout.pug

block content
  li
    a(href='#!conservative-forces') Conservative Forces
  li
    a(href='#!energy-conservation-work') Energy Conservation and Work
  li
    a(href='#!work-potential-energy') Work and Potential Energy
  li
    a(href='#!power') Power
