extends lesson-layout.pug

block content
  a.list-group-item(href='#!pressure') Pressure 
  a.list-group-item(href='#!incompressible-fluids') Incompressible Fluids
  a.list-group-item(href='#!buoyancy') Buoyancy
  a.list-group-item(href='#!continuity') Continuity
  a.list-group-item(href='#!fluid-statics') Fluid Statics
  a.list-group-item(href='#!fluid-dynamics') Fluid Dynamics
