extends lesson-layout.pug

block content
  ul.nav.nav-pills.flex-column
    //li.nav-item
      a.nav-link.active(href='/curriculum/motion-in-one-dimension')
        | Overview 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#!pressure') Pressure 
    li.nav-item
      a.nav-link(href='#!incompressible-fluids') Incompressible Fluids
    li.nav-item
      a.nav-link(href='#!buoyancy') Buoyancy
    li.nav-item
      a.nav-link(href='#!continuity') Continuity
    li.nav-item
      a.nav-link(href='#!fluid-statics') Fluid Statics
    li.nav-item
      a.nav-link(href='#!fluid-dynamics') Fluid Dynamics
