extends lesson-layout.pug

block content
  a.list-group-item(href='#!pressure',data-toggle="list") Pressure 
  a.list-group-item(href='#!incompressible-fluids',data-toggle="list") Incompressible Fluids
  a.list-group-item(href='#!buoyancy',data-toggle="list") Buoyancy
  a.list-group-item(href='#!continuity',data-toggle="list") Continuity
  a.list-group-item(href='#!fluid-statics',data-toggle="list") Fluid Statics
  a.list-group-item(href='#!fluid-dynamics',data-toggle="list") Fluid Dynamics
