extends lesson-layout.pug

block content
  li
    a(href='#!pressure') Pressure 
  li
    a(href='#!incompressible-fluids') Incompressible Fluids
  li
    a(href='#!buoyancy') Buoyancy
  li
    a(href='#!continuity') Continuity
  li
    a(href='#!fluid-statics') Fluid Statics
  li
    a(href='#!fluid-dynamics') Fluid Dynamics
