extends lesson-layout.pug

block content
  a.list-group-item(href='#!pressure',data-toggle="list",id="lesson-pressure") Pressure 
  a.list-group-item(href='#!buoyancy',data-toggle="list",id="lesson-buoyancy") Buoyancy
  a.list-group-item(href='#!continuity',data-toggle="list",id="lesson-continuity") Continuity
  a.list-group-item(href='#!fluid-statics',data-toggle="list",id="lesson-fluid-statics") Fluid Statics
  a.list-group-item(href='#!fluid-dynamics',data-toggle="list",id="lesson-fluid-dynamics") Fluid Dynamics
