extends lesson-layout.pug

block content
  a.list-group-item(href='#!the-laws-of-motion',data-toggle="list",id="lesson-the-laws-of-motion") The Laws of Motion
  a.list-group-item(href='#!first-law-of-motion',data-toggle="list",id="lesson-first-law-of-motion") The First Law of Motion
  a.list-group-item(href='#!second-law-of-motion',data-toggle="list",id="lesson-second-law-of-motion") The Second Law of Motion
  a.list-group-item(href='#!third-law-of-motion',data-toggle="list",id="lesson-third-law-of-motion") The Third Law of Motion
  a.list-group-item(href='#!common-forces',data-toggle="list",id="lesson-common-forces") Common Forces
  a.list-group-item(href='#!friction-and-drag',data-toggle="list",id="lesson-friction-and-drag") Friction and Drag
