extends lesson-layout.pug

block content
  ul.nav.nav-pills.flex-column
    //li.nav-item
      a.nav-link.active(href='/curriculum/motion-in-one-dimension')
        | Overview 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#!newtons-laws') Newton's Laws
    li.nav-item
      a.nav-link(href='#!simple-forces') Simple Forces
    li.nav-item
      a.nav-link(href='#!friction-drag') Friction and Drag
