extends lesson-layout.pug

block content
  a.list-group-item(href='#!the-laws-of-motion',data-toggle="list") The Laws of Motion
  a.list-group-item(href='#!first-law-of-motion',data-toggle="list") The First Law of Motion
  a.list-group-item(href='#!second-law-of-motion',data-toggle="list") The Second Law of Motion
  a.list-group-item(href='#!third-law-of-motion',data-toggle="list") The Third Law of Motion
  a.list-group-item(href='#!common-forces',data-toggle="list") Common Forces
  a.list-group-item(href='#!friction-and-drag',data-toggle="list") Friction and Drag
