extends lesson-layout.pug

block content
  a.list-group-item(href='#!newtons-laws') Newton's Laws
  a.list-group-item(href='#!simple-forces') Simple Forces
  a.list-group-item(href='#!friction-drag') Friction and Drag
