extends lesson-layout.pug

block content
  a.list-group-item(href='#!useful-geometric-relations') Useful Geometric Relations
  a.list-group-item(href='#!pythagorean-theorem') Pythagorean Theorem
  a.list-group-item(href='#!useful-trigonometric-relations') Useful Trigonometric Relations
  a.list-group-item(href='#!vector-and-scalar-quantities') Vector and Scalar Quantities
  a.list-group-item(href='#!dot-and-cross-product') Dot and Cross Product
