extends lesson-layout.pug

block content
  li
    a(href='#!motion-in-one-dimension') Motion in One Dimension
  li
    a(href='#!simple-motion-in-one-dimension') Simple Motion in One Dimension
  li
    a(href='#!motion-in-two-dimensions') Motion in Two Dimensions
  li
    a(href='#!simple-motion-in-two-dimensions') Simple Motion in Two Dimensions
