extends lesson-layout.pug

block content
  ul.nav.nav-pills.flex-column
    //li.nav-item
      a.nav-link.active(href='/curriculum/motion-in-one-dimension')
        | Overview 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#!motion-in-one-dimension') Motion in One Dimension
    li.nav-item
      a.nav-link(href='#!simple-motion-in-one-dimension') Simple Motion in One Dimension
    li.nav-item
      a.nav-link(href='#!motion-in-two-dimensions') Motion in Two Dimensions
    li.nav-item
      a.nav-link(href='#!simple-motion-in-two-dimensions') Simple Motion in Two Dimensions
