doctype html
html(lang='en',ng-app='lessonApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title #{ title } | Physics in Motion
    //- Bootstrap core CSS
    link(href='/assets/libs/bootstrap/bootstrap.min.css', rel='stylesheet')
    //- Custom styles for this template
    link(href='/assets/css/lessons/shop-item.css', rel='stylesheet')
    //- Google Analytics
    include ../google-analytics.pug     
  body(ng-controller='mainController')
    if (!user)
      include ../navbar/default-nav.pug
    if (user)
      include ../navbar/user-nav.pug
    //- Page Content
    block content
    
          //- if (user)
            //- .card.mt-4#user-exists
              .card-body
                p.card-text
                  .container
                    .row
                      .col-sm-2
                      .col-sm-8
                        h3 Questions
                        div(ng-repeat='question in questions')
                          hr
                          p {{ question.question_text }}
                          .form-check(ng-repeat='answer in question.content' class="mt-3")
                            input(class="form-check-input" type="radio" name="question-{{question.question_id}}" id="answer-{{ answer.answer_id }}" value="{{ answer.answer_id }}")
                            label(class="form-check-label" for="answer-{{ answer.answer_id }}") {{ answer.answer_text }}
                          hr
                          button.btn.btn-secondary(type='button', ng-click='submitAnswer(question.question_id)') Submit
                          div(id="style-{{question.question_id}}" class="alert alert-secondary mt-3" role="alert") Please select an answer
            //- .card.mt-4
              .card-body
                p.card-text
                  .container
                    .row
                      .col-sm-2
                      .col-sm-8 
                        span#lessonStatus.badge.badge-secondary
                        hr
                        .btn-group(role='group', aria-label='Basic example')
                          button.btn.btn-secondary(type='button', onclick='updateLessonStatus(true)') Done
                          button.btn.btn-secondary(type='button', onclick='updateLessonStatus(false)') Unmark
                        hr
                        form
                          .form-group
                            label(for='lessonNotes') Notes
                            textarea#lessonNotes.form-control(rows='3')
                          button.btn.btn-secondary(type='button', onclick='updateNotes()') Save
          //- /.card
          //- .card.card-outline-secondary.my-4
            .card-header
              | Product Reviews
            .card-body
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.
              small.text-muted Posted by Anonymous on 3/1/17
              hr
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.
              small.text-muted Posted by Anonymous on 3/1/17
              hr
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.
              small.text-muted Posted by Anonymous on 3/1/17
              hr
              a.btn.btn-success(href='#') Leave a Review
          //- /.card
          //- /.col-lg-9
          //- /.container

    //- Footer
    .container
      include ../footer/home-footer.pug       
    //-
      Bootstrap core JavaScript
      ==================================================
    //- Placed at the end of the document so the pages load faster
    script(src='/assets/libs/jquery/jquery.min.js')
    script(src='/assets/libs/bootstrap/bootstrap.bundle.min.js')
    //- AngularJS
    script(src='/assets/libs/angular/angular.min.js')
    script(src='/assets/libs/angular-route/angular-route.min.js')
    //- MathJax
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML')
    //- Font Awesome
    script(src='/assets/libs/font-awesome/fontawesome-all.min.js')
    //- Chart.js
    script(src='/assets/libs/chart.js/Chart.bundle.js')
    //- Math custom module
    script(src='/assets/js/math.js')
    //- Helper functions for creating charts for lesson modules
    script(src='/assets/js/chart.js')
    //- ANGULAR CUSTOM
    script(src='/assets/js/lessonApp.js')
