extends lesson-layout.pug

block content
  a.list-group-item(href='#!position-distance-displacement',data-toggle="list",id="lesson-position-distance-displacement") Position, Distance, and Displacement
  a.list-group-item(href='#!speed-velocity',data-toggle="list",id="lesson-speed-velocity") Speed and Velocity
  a.list-group-item(href='#!acceleration',data-toggle="list",id="lesson-speed-velocity") Acceleration
