extends lesson-layout.pug

block content
  a.list-group-item(href='#!dynamics-simple-harmonic-motion',data-toggle="list",id="lesson-dynamics-simple-harmonic-motion") Dynamics 
  a.list-group-item(href='#!the-pendulum',data-toggle="list",id="lesson-the-pendulum") The Pendulum
  a.list-group-item(href='#!damped-harmonic-motion',data-toggle="list",id="lesson-damped-harmonic-motion") Damped Harmonic Motion
  a.list-group-item(href='#!driven-oscillations',data-toggle="list",id="lesson-driven-oscillations") Driven Oscillations
