extends lesson-layout.pug

block content
  a.list-group-item(href='#!dynamics-simple-harmonic-motion',data-toggle="list") Dynamics 
  a.list-group-item(href='#!the-pendulum',data-toggle="list") The Pendulum
  a.list-group-item(href='#!damped-harmonic-motion',data-toggle="list") Damped Harmonic Motion
  a.list-group-item(href='#!driven-oscillations',data-toggle="list") Driven Oscillations
