extends lesson-layout.pug

block content
  a.list-group-item(href='#!angular-variables',data-toggle="list") Angular Variables
  a.list-group-item(href='#!equations-of-rotational-motion',data-toggle="list") Equations of Angular Motion
