extends lesson-layout.pug

block content
  li
    a(href='#!dynamics-simple-harmonic-motion') Dynamics 
  li
    a(href='#!the-pendulum') The Pendulum
  li
    a(href='#!damped-harmonic-motion') Damped Harmonic Motion
  li
    a(href='#!driven-oscillations') Driven Oscillations
