extends lesson-layout.pug

block content
  a.list-group-item(href='#!characteristics-of-waves',data-toggle="list") Characteristics of Waves 
  a.list-group-item(href='#!superposition-of-waves',data-toggle="list") Superposition of Waves 
  a.list-group-item(href='#!interference',data-toggle="list") Interference
