extends lesson-layout.pug

block content
  ul.nav.nav-pills.flex-column
    //li.nav-item
      a.nav-link.active(href='/curriculum/motion-in-one-dimension')
        | Overview 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='#!characteristics-waves') Characteristics of Waves 
    li.nav-item
      a.nav-link(href='#!superposition-of-waves') Superposition of Waves 
    li.nav-item
      a.nav-link(href='#!interference') Interference
