extends lesson-layout.pug

block content
  li
    a(href='#!characteristics-waves') Characteristics of Waves 
  li
    a(href='#!superposition-of-waves') Superposition of Waves 
  li
    a(href='#!interference') Interference
