extends lesson-layout.pug

block content
  a.list-group-item(href='#!characteristics-waves') Characteristics of Waves 
  a.list-group-item(href='#!superposition-of-waves') Superposition of Waves 
  a.list-group-item(href='#!interference') Interference
