extends lesson-layout.pug

block content
  a.list-group-item(href='#!conservative-forces',data-toggle="list",id="lesson-conservative-forces") Conservative Forces
  a.list-group-item(href='#!energy-conservation-work',data-toggle="list",id="lesson-energy-conservation-work") Energy Conservation and Work
  a.list-group-item(href='#!work-potential-energy',data-toggle="list",id="lesson-work-potential-energy") Work and Potential Energy
  a.list-group-item(href='#!power',data-toggle="list",id="lesson-power") Power
