extends home-layout.pug

block content
  .row.featurette
    .col-md-7
      h2.featurette-heading About Us
      p
        | Education is not something that you can ever finish, and should never stop once you complete school. Unfortunately, traditional school values have raised people to view learning as a chore, something that you only do a means to end. Many can’t wait until they finish school so that they can stop studying for school and start working at a job.
      p
        | My goal is to change this, and to demonstrate that learning is something that should be done for its own sake. In particular, the study of physics often gets a bad reputation for being a difficult and even boring subject to study (it isn’t!). A big part of why this is the case is due to how physics is taught. Physics, by its very nature, is the study of motion, and yet when it is taught in school, we typically see static drawings instead of dynamic demonstrations.
      p
        | Physics in Motion is a free online resource for learning physics, whether you are a student learning physics in school, or an enthusiast looking to learn something new, this site offers a comprehensive resource for learning physics how it was meant to be taught.
  hr.featurette-divider
