doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title Classical Mechanics
    // Font Awesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/album/album.css', rel='stylesheet')
  body
    if (!user)
      include navbar/default-nav.pug

    if (user)
      include navbar/user-nav.pug
    main(role='main')
      section.jumbotron.text-center
        .container
          h1.jumbotron-heading Classical Mechanics
          p.lead.text-muted
            | Start with the basics - the fundamentals of physics that all students of physics start with. Equivalent to an introductory course in physics.
      .album.py-5.bg-light
        .container
          .row
            .col-md-4
              .card.mb-4.box-shadow
                .card-body
                  h3 Kinematics
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button', onclick="location.href = '/kinematics';") Start
                    small.text-muted 9 mins
            .col-md-4
              .card.mb-4.box-shadow
                .card-body
                  h3 Forces
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Start
                    small.text-muted 9 mins
            .col-md-4
              .card.mb-4.box-shadow
                .card-body
                  h3 Energy
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Start
                    small.text-muted 9 mins
            .col-md-4
              .card.mb-4.box-shadow
                .card-body
                  h3 Momentum
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Start
                    small.text-muted 9 mins
            .col-md-4
              .card.mb-4.box-shadow
                .card-body
                  h3 Simple Harmonic Motion
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Start
                    small.text-muted 9 mins
            .col-md-4
              .card.mb-4.box-shadow
                .card-body
                  h3 Waves
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Start
                    small.text-muted 9 mins
            .col-md-4
              .card.mb-4.box-shadow
                .card-body
                  h3 Fluids
                  p.card-text
                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type='button') Start
                    small.text-muted 9 mins
    footer.text-muted
      .container
        p.float-right
          a(href='#') Back to top
        p Album example is © Bootstrap, but please download and customize it for yourself!
        p
          | New to Bootstrap? 
          a(href='../../') Visit the homepage
          |  or read our 
          a(href='../../getting-started/') getting started guide
          | .
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='https://getbootstrap.com/assets/js/vendor/popper.min.js')
    script(src='https://getbootstrap.com/dist/js/bootstrap.min.js')
    script(src='https://getbootstrap.com/assets/js/vendor/holder.min.js')
