doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title Dashboard | Physics in Motion
    // Font Awesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/dashboard/album.css', rel='stylesheet')
    link(href='css/dashboard/dashboard.css', rel='stylesheet')
    
  body
    if (!user)
      include navbar/default-nav.pug

    if (user)
      include navbar/user-nav.pug
            
    main.container(role='main')
      //.jumbotron
        h1 Welcome back!
        p Logged in as #{user.username}
        
        //p.lead
          | This is your dashboard, where you can get an overview of the progress that you are making on your modules, or just go straight back to what you were working on previously.
        //a.btn.btn-lg.btn-primary(href='../../components/navbar/', role='button') Continue learning            
  
    main.container(role='main')
      .my-3.p-3.bg-white.rounded.box-shadow
        h2.border-bottom.border-gray.pb-2.mb-0 Welcome back!
        p Logged in as #{user.username}
      .my-3.p-3.bg-white.rounded.box-shadow
        h6.border-bottom.border-gray.pb-2.mb-0 Resume Learning
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Kinematics
              a(href='/kinematics') Continue
            span.d-block How things move though space. Learn about point objects move though one-dimensional space, and two-dimensional space.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Forces
              a(href='/forces') Continue
            span.d-block What causes things to move through space. Learn about the phenomena that affects the motion of objects through space.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Energy
              a(href='/forces') Continue
            span.d-block The mysterious phenomena that causes things to act and behave the way they do.
        small.d-block.text-right.mt-3
          a(href='/energy') All Courses
      .my-3.p-3.bg-white.rounded.box-shadow
        h6.border-bottom.border-gray.pb-2.mb-0 Updates and News
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Welcome to the beta release of Physics in Motion!
              //a(href='#') Follow
            span.d-block This is only a beta release, with only a few courses created.
        .media.text-muted.pt-3
          img.mr-2.rounded(data-src='holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1', alt='')
          .media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
            .d-flex.justify-content-between.align-items-center.w-100
              strong.text-gray-dark Updates to our Terms and Privacy
              //a(href='#') Follow
            span.d-block We have recently updated our Terms and Privacy pages.
        small.d-block.text-right.mt-3
          a(href='#') See more

    .container
      include footer/home-footer.pug  
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='https://getbootstrap.com/assets/js/vendor/popper.min.js')
    script(src='https://getbootstrap.com/dist/js/bootstrap.min.js')
    script(src='https://getbootstrap.com/assets/js/vendor/holder.min.js')
