if (!user)
  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      link(rel='icon', href='img/rocket.png')
      title Physics in Motion
      // Bootstrap core CSS
      link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
      // Font Awesome
      link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
      // Custom styles for this template
      link(href='https://getbootstrap.com/docs/4.0/examples/carousel/carousel.css', rel='stylesheet')
      link(href='css/style.css', rel='stylesheet')
    body
      header
        // Navigation
        nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
          .container
            a.navbar-brand(href='/')
              i.fa.fa-rocket(aria-hidden='true')
              |  Physics in Motion
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
              ul.navbar-nav.ml-auto
                li.nav-item
                  a.nav-link(href='about') What We Do
                li.nav-item.dropdown
                  a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Explore
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownBlog')
                    a.dropdown-item(href='curriculum.html') Curriculum
                    a.dropdown-item(href='resources.html') Resources
                li.nav-item
                  button.btn.btn-primary(type='button', onclick="location.href = '/register';") Register
                li.nav-item
                  a.nav-link(href='/login') Login
      main(role='main')
        //
          Marketing messaging and featurettes
          ==================================================
        // Wrap the rest of the page in another container to center all the content.
        .container.marketing
          // START THE FEATURETTES
          hr.featurette-divider.home-divider
          .row.featurette
            .col-md-7
              h2.featurette-heading How physics was meant to be taught.
              p.lead
                | Not through static diagrams, but dynamic physical simulations that allow you to build an intuition for physical systems.
              button.btn.btn-lg.btn-primary(type='submit', onclick="location.href = '/register';") Get Started
            .col-md-5
              img.featurette-image.img-fluid.mx-auto(src='img/rocket.png', alt='Rocket', style='opacity:0.9;')
          hr.featurette-divider.home-divider
          .row.featurette
            .col-md-7.order-md-2
              h2.featurette-heading Improve your grades.
              p.lead
                | Rote memorization is overated. Build a genuine intuition for how complex physical systems behave, and learn to think critically and tackle problems effectively.
            .col-md-5.order-md-1
              img.featurette-image.img-fluid.mx-auto(src='img/light-bulb.png', alt='Light Bulb', style='opacity:0.9;')
          hr.featurette-divider.home-divider
          .row.featurette
            .col-md-7
              h2.featurette-heading And lastly, learn to enjoy physics.
              p.lead
                | Yes, physics can be a difficult subject, but that doesn't mean you need to hate it. Experience the true beauty of physics.
            .col-md-5
              img.featurette-image.img-fluid.mx-auto(src='img/astronaut.png', alt='Astronaut')
          hr.featurette-divider.home-divider
          .row.featurette.action-call
            .col-md-2
            .col-md-8.text-center
              h1.featurette-heading Experience Physics in Motion.
              button.btn.btn-lg.btn-primary(type='submit', onclick="location.href = '/register';") Get Started
            .col-md-2
          hr.featurette-divider
          // /END THE FEATURETTES
          // /.container
          // FOOTER
          footer.container
            p.float-right
              a(href='#') Back to top
            p
              | © 2017-2018 Physics in Motion · 
              a(href='#') Privacy
              |  · 
              a(href='#') Terms
      //
        Bootstrap core JavaScript
        ==================================================
      // Placed at the end of the document so the pages load faster
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
      script.
        window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
      script(src='https://getbootstrap.com/assets/js/vendor/popper.min.js')
      script(src='https://getbootstrap.com/dist/js/bootstrap.min.js')
      // Just to make our placeholder images work. Don't actually copy the next line!
      script(src='https://getbootstrap.com/assets/js/vendor/holder.min.js')

if (user)
  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      link(rel='icon', href='../../favicon.ico')
      title Content
      // Bootstrap core CSS
      link(href='https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
      // Custom styles for this template
      link(href='https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css', rel='stylesheet')
      // AngularJS
      // JS
      script(src='libs/angular/angular.min.js')
      script(src='libs/angular-route/angular-route.min.js')
      // ANGULAR CUSTOM
      script(src='js/controllers/MainCtrl.js')
      script(src='js/controllers/NerdCtrl.js')
      script(src='js/services/NerdService.js')
      script(src='js/controllers/GeekCtrl.js')
      script(src='js/services/GeekService.js')
      script(src='js/appRoutes.js')
      script(src='js/app.js')
    body(ng-app='sampleApp', ng-controller='NerdController')
      nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
        button.navbar-toggler.navbar-toggler-right.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='/') #{user.username}
        #navbarsExampleDefault.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Settings
            li.nav-item
              a.nav-link(href='/') Profile
            li.nav-item
              a.nav-link(href='/') Help
            li.nav-item
              a.nav-link(href='/logout') Logout
      .container-fluid
        .row
          nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
            ul.nav.nav-pills.flex-column
              li.nav-item
                a.nav-link.active(href='/curriculum/motion-in-one-dimension')
                  | Overview 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='#') Reports
              li.nav-item
                a.nav-link(href='#') Analytics
              li.nav-item
                a.nav-link(href='#') Export
            ul.nav.nav-pills.flex-column
              li.nav-item
                a.nav-link(href='#') Nav item
              li.nav-item
                a.nav-link(href='#') Nav item again
              li.nav-item
                a.nav-link(href='#') One more nav
              li.nav-item
                a.nav-link(href='#') Another nav item
            ul.nav.nav-pills.flex-column
              li.nav-item
                a.nav-link(href='#') Nav item again
              li.nav-item
                a.nav-link(href='#') One more nav
              li.nav-item
                a.nav-link(href='#') Another nav item
          main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
            h1 Content
            section.row.text-center.placeholders
              // ANGULAR DYNAMIC CONTENT
              div(ng-view='')
      //
        Bootstrap core JavaScript
        ==================================================
      // Placed at the end of the document so the pages load faster
      script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
      script.
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
      script(src='https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js')
      // IE10 viewport hack for Surface/desktop Windows 8 bug
      script(src='https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js')
