doctype html
html(lang='en',ng-app='scotchApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Content
    // Bootstrap core CSS
    link(href='https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css', rel='stylesheet')
    // AngularJS
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js')
    // MathJax
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML')
    // ANGULAR CUSTOM
    script(src='js/script.js')
    
  body(ng-controller='mainController')
    nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
      button.navbar-toggler.navbar-toggler-right.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='/') Kinematics
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/profile') Profile
          li.nav-item
            a.nav-link(href='/settings') Settings
          li.nav-item
            a.nav-link(href='/help') Help
          li.nav-item
            a.nav-link(href='/logout')
              i.fa.fa-sign-out(aria-hidden='true')
              |  Logout
    .container-fluid
      .row
        nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
          ul.nav.nav-pills.flex-column
            //li.nav-item
              a.nav-link.active(href='/curriculum/motion-in-one-dimension')
                | Overview 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#!motion-in-one-dimension') Motion in One Dimension
            li.nav-item
              a.nav-link(href='#!simple-motion-in-one-dimension') Simple Motion in One Dimension
            li.nav-item
              a.nav-link(href='#!simple-motion-in-two-dimensions') Simple Motion in Two Dimensions
              li.nav-item
                a.nav-link(href='#!motion-in-two-dimensions') Motion in Two Dimensions
              
        main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3

          section.row.text-center.placeholders

          // ANGULAR DYNAMIC CONTENT
          div.ng-view
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js')
