extends lesson-layout.pug

block content
  a.list-group-item(href='#!conservative-forces',data-toggle="list") Conservative Forces
  a.list-group-item(href='#!energy-conservation-work',data-toggle="list") Energy Conservation and Work
  a.list-group-item(href='#!work-potential-energy',data-toggle="list") Work and Potential Energy
  a.list-group-item(href='#!power',data-toggle="list") Power
