extends lesson-layout.pug

block content
  a.list-group-item(href='#!newtons-laws',data-toggle="list") Newton's Laws
  a.list-group-item(href='#!simple-forces',data-toggle="list") Simple Forces
  a.list-group-item(href='#!friction-drag',data-toggle="list") Friction and Drag
