extends lesson-layout.pug

block content
  a.list-group-item(href='#!useful-geometric-relations',data-toggle="list") Useful Geometric Relations
  a.list-group-item(href='#!pythagorean-theorem',data-toggle="list") Pythagorean Theorem
  a.list-group-item(href='#!useful-trigonometric-relations',data-toggle="list") Useful Trigonometric Relations
  a.list-group-item(href='#!vector-and-scalar-quantities',data-toggle="list") Vector and Scalar Quantities
  a.list-group-item(href='#!dot-and-cross-product',data-toggle="list") Dot and Cross Product
