<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h1 class="page-header">Incompressible Fluids</h1>

      <p>We call materials that easily deform under stress and easily flow so as to take the shape of a container they are placed in, fluids. Examples of fluids are liquids, gases, and plasmas. Let us consider a typical fluid that completely fills a closed
        container. We can measure the volume of the container by measuring its dimensions. This allows us to compute the density of the fluid,</p>

      <p>$$ \rho = \frac{m_{fluid}}{V} $$
      </p>

      <p>The density is the mass of the fluid divided by its volume. We will deal only with fluids whose density does not change under applied pressure. Such fluids are known as incompressible fluids. As a concrete example, think about a balloon filled with
        water. As you press on it, it may deform, but you will not change the density of water inside. As an example ofa fluid that is not incompressible, think about the gas in an engine's piston. As the piston compresses it increases the gas density
        inside it. So to recap, incompressible fluids are fluids whose density does not change under pressure.</p>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
