extends ../lesson-layout.pug

block content
  .container
    .row
      .col-lg-3
        h5.my-4 
          a(href=course_url) #{ course }  
          i.fa.fa-arrow-right(aria-hidden='true')
          |  #{ title }  
        .list-group
          a.list-group-item(href='/motion-in-two-dimensions/two-dimensional-position',id="lesson-two-dimensional-position") Position
          a.list-group-item(href='/motion-in-two-dimensions/two-dimensional-velocity',id="lesson-two-dimensional-velocity") Velocity
          a.list-group-item.active(href='/motion-in-two-dimensions/two-dimensional-acceleration',id="lesson-two-dimensional-acceleration") Acceleration
          a.list-group-item(href='/motion-in-two-dimensions/two-dimensional-projectile-motion',id="lesson-projectile-motion") Projectile Motion
        if (user)
          hr
          button#lessonStatus.btn.btn-outline-secondary(type='button', style='float: left' disabled)
          .btn-group(role='group', aria-label='Basic example', style='float: right')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(true)')
              i.fa.fa-check-circle(aria-hidden='true')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(false)')
              i.fa.fa-times-circle(aria-hidden='true')
          
      //- /.col-lg-3
      .col-lg-9
        .card.mt-4
          .card-body
            p.card-text
              //- ANGULAR DYNAMIC CONTENT
              #lesson-module.container(ng-init='initiateQuiz()' data-topic='motion_in_two_dimensions' data-lesson='two_dimensional_acceleration')
                .row
                  .col-sm-2
                  .col-sm-8
                    h1.page-header Acceleration
                    p
                      | Once again, similar to how we had extended our understanding of position and velocity in one dimension to two dimensions, when we are studying acceleration in two dimensions, we look at the acceleration of the object along two axes.
                    p
                      | The acceleration of an object in two-dimensions can be described by two acceleration functions. For example, \( a_x(t) \) and \( a_y(t) \), for the x-axis and the y-axis, respectively.
                    p $$ a_x (t) = \frac{d v_x(t)}{dt}, $$
                    p and,
                    p $$ a_y (t) = \frac{d v_y(t)}{dt}. $$
                    p
                      | The acceleration of a point-like object can then be given by the co-ordinate pair,
                    p $$ ( v_x(t), v_y(t) ), $$
                    p or as a vector,
                    p $$ \vec{a} (t) = \frac{d \vec{v} (t)}{dt} = \frac{d^2 \vec{r} (t)}{dt^2}. $$
                    p $$ \vec{a}(t) = a_x(t) \hat{i} + a_y(t) \hat{j}, $$
                    p
                      | where \( \hat{i} \) and \( \hat{j} \) are unit vectors pointing in the x and y-axes, respectively.
                    p
                      | An object moving with constant velocity will always move in a straight line, unless the object is accelerated in a different direction. If this acceleration occurs along the line of motion, then the object will remain moving in a straight line (although
                      | its velocity will change).
                    p
                      | If the body accelerates, but not along the line of motion, then the direction of that object will change. It will no longer be a straight line, and will instead follow a curve. The result is motion in two-dimensions.
                    canvas#static-acceleration-line-chart(width='800' height='500')
                    p It is usually more convenient to denote a vector using brackets, as follows:
                    p $$ \vec{v} = v_x \hat{i} + v_y \hat{j} = (v_x, v_y). $$
                    p Both notations mean the same thing, and are used as convenient.
                  .col-sm-2
              script.
                new Chart(document.getElementById("static-acceleration-line-chart"),
                chartConfig(
                'Two-Dimenional Acceleration as a Function of Time',
                'x(t)',
                [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                'y(t)',
                [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                )
                );
              script(src='/assets/js/lesson.js')
