extends home-layout.pug

block content
  hr.featurette-divider.home-divider
  .row.featurette
    .col-md-7
      h2.featurette-heading How physics was meant to be taught.
      p.lead
        | Not through static diagrams, but dynamic physical simulations that allow you to build an intuition for physical systems.
      button.btn.btn-lg.btn-primary(type='submit', onclick="location.href = '/register';") Get Started
    .col-md-5
      img.featurette-image.img-fluid.mx-auto(src='img/rocket.png', alt='Rocket', style='opacity:0.9;')
  hr.featurette-divider.home-divider
  .row.featurette
    .col-md-7.order-md-2
      h2.featurette-heading Improve your grades.
      p.lead
        | Rote memorization is overated. Build a genuine intuition for how complex physical systems behave, and learn to think critically and tackle problems effectively.
    .col-md-5.order-md-1
      img.featurette-image.img-fluid.mx-auto(src='img/light-bulb.png', alt='Light Bulb', style='opacity:0.9;')
  hr.featurette-divider.home-divider
  .row.featurette
    .col-md-7
      h2.featurette-heading And lastly, learn to enjoy physics.
      p.lead
        | Yes, physics can be a difficult subject, but that doesn't mean you need to hate it. Experience the true beauty of physics.
    .col-md-5
      img.featurette-image.img-fluid.mx-auto(src='img/astronaut.png', alt='Astronaut')
  hr.featurette-divider.home-divider
  .row.featurette.action-call
    .col-md-2
    .col-md-8.text-center
      h1.featurette-heading Experience Physics in Motion.
      button.btn.btn-lg.btn-primary(type='submit', onclick="location.href = '/register';") Get Started
    .col-md-2
  hr.featurette-divider.home-divider
