extends home-layout.pug

block content
  .row.featurette
    .col-md-7
      h2.featurette-heading Contact
      p Please send any inquries 
        a(href='mailto:l.nguyen.paul@gmail.com') through email
  hr.featurette-divider.home-divider
