doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='img/rocket.png')
    title Physics in Motion
    // Bootstrap core CSS
    link(href='https://getbootstrap.com/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='https://getbootstrap.com/docs/4.0/examples/carousel/carousel.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body
    header
      // Navigation
      nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        .container
          a.navbar-brand(href='/')
            i.fa.fa-rocket(aria-hidden='true')
            |  Physics in Motion
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/about') What We Do
              li.nav-item
                a.nav-link(href='/courses') Courses
              //li.nav-item.dropdown
                a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Explore
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownBlog')
                  a.dropdown-item(href='/courses') Courses
                  a.dropdown-item(href='/resources') Resources
              li.nav-item
                button.btn.btn-primary(type='button', class='mx-2', onclick="location.href = '/register';") Register
              li.nav-item
                a.nav-link(href='/login') Login
    main(role='main')
      //
        Marketing messaging and featurettes
        ==================================================
      // Wrap the rest of the page in another container to center all the content.
      .container.marketing
        // START THE FEATURETTES
        
        block content
        
        // /END THE FEATURETTES
        // /.container
        // FOOTER        
        footer.pt-4.my-md-5.pt-md-5.border-top
          .row
            .col-12.col-md
              h5 Physics in Motion
              p.text-muted A free online resource for learning physics, whether you are a student in school, or an enthusiast looking to learn something new.
            .col-6.col-md
              h5 Courses
              ul.list-unstyled.text-small
                li
                  a.text-muted(href='/courses') Everything
                li
                  a.text-muted(href='/classical-mechanics') Classical Mechanics
                li
                  a.text-muted(href='/mathematics') Mathematics
                li
                  a.text-muted(href='/resources') Resources
            .col-6.col-md
              h5 About
              ul.list-unstyled.text-small
                li
                  a.text-muted(href='/about') What We Do
                li
                  a.text-muted(href='/register') Register
                li
                  a.text-muted(href='/login') Login
            .col-6.col-md
              h5 Pages
              ul.list-unstyled.text-small
                li
                  a.text-muted(href='/contact') Contact
                li
                  a.text-muted(href='/privacy') Privacy
                li
                  a.text-muted(href='/terms') Terms
        footer.container
          p.float-right
            a(href='#') Back to top
          p
            | © 2017-2018 Physics in Motion · 
            a(href='/privacy') Privacy
            |  · 
            a(href='/terms') Terms          
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='https://getbootstrap.com/assets/js/vendor/popper.min.js')
    script(src='https://getbootstrap.com/dist/js/bootstrap.min.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    script(src='https://getbootstrap.com/assets/js/vendor/holder.min.js')
