extends home-layout.pug

block content
  .row.featurette
    .col-md-7
      h2.featurette-heading Privacy
      p
        | This is where the privacy stuff goes.
  hr.featurette-divider.home-divider
