extends ../lesson-layout.pug

block content
  .container
    .row
      .col-lg-3
        h5.my-4 
          a(href=course_url) #{ course }  
          i.fa.fa-arrow-right(aria-hidden='true')
          |  #{ title }  
        .list-group
          a.list-group-item(href='/waves-and-sounds/characteristics-of-waves',id="lesson-characteristics-of-waves") Characteristics of Waves 
          a.list-group-item(href='/waves-and-sounds/superposition-of-waves',id="lesson-superposition-of-waves") Superposition of Waves 
          a.list-group-item.active(href='/waves-and-sounds/interference',id="lesson-interference") Interference
        if (user)
          hr
          button#lessonStatus.btn.btn-outline-secondary(type='button', style='float: left' disabled)
          .btn-group(role='group', aria-label='Basic example', style='float: right')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(true)')
              i.fa.fa-check-circle(aria-hidden='true')
            button.btn.btn-secondary(type='button', onclick='updateLessonStatus(false)')
              i.fa.fa-times-circle(aria-hidden='true')
          
      //- /.col-lg-3
      .col-lg-9
        .card.mt-4
          .card-body
            p.card-text
              //- ANGULAR DYNAMIC CONTENT
              #lesson-module.container(ng-init='initiateQuiz()' data-topic='waves_and_sounds' data-lesson='interference')
                .row
                  .col-sm-2
                  .col-sm-8
                    h1.page-header Interference
                    p
                      | Let us now consider what happens when waves of the same frequency, but a different source, arrive at the same location. If the first wave travelled a distance \( d_1 \) from its source, and the second wave travelled a distance \( d_2 \), then we
                      | have,
                    p
                      | $$ y(x,t) = y_1 (x,t) + y_2 (x,t) $$
                    p
                      | $$ y(x,t) = A \sin (k d_1 - \omega t + \phi_{01}) + A \sin (k d_2 - \omega t + \phi_{02}) $$
                    p
                      | $$ y(x,t) = A \sin (\phi_1 - \omega t) + A \sin (\phi_2 - \omega t) $$
                    p
                      | Where \( \phi_{01} \) and \( \phi_{02} \) are the initial phases of the two waves, and
                    p
                      | $$ \phi_1 = k d_1 + \phi_{01} $$
                    p
                      | $$ \phi_2 = k d_2 + \phi_{02} $$
                    p
                      | can be thought of as the phases of the waves at this particular location. Using the properties of the sine function, you can convince yourself that the oscillations of the two components in the equations above exactly cancel each other if they are
                      | out of phase. This is known as perfectly destructive interference and requires,
                    p
                      | $$ \Delta \phi = \phi_1 - \phi_2 = (m + 1/2) \dot 2 \pi $$
                    p
                      | Where \( m = 0, \pm 2, \pm 2,... \) is an integer. On the other hand, the amplitudes of the two components add coherently to yield perfectly constructive interference if the oscillations are exactly in phase,
                    p
                      | $$ \Delta \phi = \phi_1 - \phi_2 = 2 m \pi $$
                    p
                      | where again, \( m = 0, \pm 2, \pm 2,... \) is an integer. More generally, the interference results in an amplitude that depends on the phase shift. Using a trigonometric identity for expression the sum of two sine functions as the product of two
                      | others, the wave form can be recast into,
                    p
                      | $$ y(x,t) = A \sin (\phi_1 - \omega t) + A \sin (\phi_2 - \omega t) $$
                    p
                      | $$ y(x,t) = 2 A \cos \left( \frac{\Delta \phi}{2} \right) \times \sin \left( k \left( \frac{d_1 + d_2}{2} \right) + \left( \frac{\phi_{01} + \phi_{02}}{2} \right) - \omega t \right) $$
                    p
                      | When the variations in the average distance, \( (d_1 + d_2) / 2 \) are small compared with the wavelength, the amplitude of the wave can be thought of as the coefficient of the oscillating piece, namely,
                    p
                      | $$ Amplitude = \left| 2 A \cos \left( \frac{\Delta \phi}{2} \right) \right| $$
                    p
                      | In many instances the initial phase of the two waves are equal since they emerge from the same source. In those cases, the conditions for interference can be stated as requirements on the path-length difference. From the relations between the phases
                      | and distance travelled, we see that
                    p
                      | $$ \Delta d = d_1 - d_2 = m \lambda $$
                    p (constructive interference)
                    p
                      | $$ \Delta d = d_1 - d_2 = (m + 1/2) \lambda $$
                    p (destructive interference)
                    p
                      | Here the relation between the wavenumber and the wavelength, \( k = 2 \pi / \lambda \)
                    canvas#wave-chart-1(width='800' height='500')
                    canvas#wave-chart-2(width='800' height='500')
                    canvas#wave-chart-3(width='800' height='500')
                    h3 Young's Double Slit Experiment
                    p
                      | One of the vexing questions of classical physics was whether light is a wave of a particle. The beautiful experiment by Young seemed to have settled this question in favour of waves. Young considered a single light source impinging on a screen with
                      | two slits separated by a distance \( D \). A second screen is placed a distance \( L \) behind the first. Using simple trigonometry, the distance of the upper light ray to a point on the second screen is given by,
                    p
                      | $$ d_1 = \frac{L}{\cos \theta} $$
                    p
                      | Where the \( \theta \) is the angle of the light with the horizontal. Geometry then dictates that the distance of the lower light ray to that same point on the screen is,
                    p
                      | $$ d_2 = \sqrt{L^2 + (D + L \tan \theta)^2} \approx \frac{L}{\cos \theta} + D \tan \theta $$
                    p
                      | Where the approximation holds when the distnace to the screen is much larger than the slits' separation, \( L >> D \). The difference in distance between the two rays, which is the relevant quantity for interference, is then
                    p
                      | $$ \Delta d = d_2 - d_1 \approx D \tan \theta $$
                    p
                      | The vertical distance along the screen is usually also much smaller than the distance \( L \) and so the angle \( \theta \) is small, \( \theta << 1 \) and so,
                    p
                      | $$ \Delta d \approx D \theta \approx D \frac{y}{L} $$
                    p
                      | So far this is just geometry. But, now comes the crucial observation. If light is really a wave, then we expect to see bright fringes when the path difference satisfies the condition for constructive interference,
                    p
                      | $$ \theta_m = m \frac{\lambda}{D} $$
                    p
                      | $$ y_m = m \frac{\lambda L}{D} $$
                    p
                      | Similarly, when the path difference satisfies the condition for destructive interference, we expect to see dark fringes
                    p
                      | $$ \theta_m = \left( \frac{1}{2} + m \right) \frac{\lambda}{D} $$
                    p
                      | $$ y_m = \left( \frac{1}{2} + m \right) \frac{\lambda L}{D} $$
                    p
                      | This pattern of bright and dark fringes is precisely what was observed by Young. This experiment has conclusively determined the wave-like nature of light. "Light as a wave" stood as a paradigm for about a century until Einstein demonstrated that
                      | the photoelectric effect can be understood by assuming light to be a particle nevertheless. The clear paradox that emerged from the two conflicting views of the nature of light foreshadowed the advent of quantum mechanics.
                  .col-sm-2
              script.
                new Chart(document.getElementById("wave-chart-1"),
                chartConfig(
                'Position as a Function of Time',
                'Time (s)',
                [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10],
                'Position (m)',
                [sin(1, 0), sin(1, 0.5), sin(1, 1), sin(1, 1.5), sin(1, 2), sin(1, 2.5), sin(1, 3), sin(1, 3.5), sin(1, 4), sin(1, 4.5), sin(1, 5), sin(1, 5.5), sin(1, 6), sin(1, 6.5), sin(1, 7), sin(1, 7.5), sin(1, 8), sin(1, 8.5), sin(1, 9), sin(1, 9.5), sin(1, 10)]
                )
                );
                new Chart(document.getElementById("wave-chart-2"),
                chartConfig(
                'Constructive Interference',
                'Time (s)',
                [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10],
                'Position (m)',
                [sin(1, 0) + sin(1, 0), sin(1, 0.5) + sin(1, 0.5), sin(1, 1) + sin(1, 1), sin(1, 1.5) + sin(1, 1.5), sin(1, 2) + sin(1, 2), sin(1, 2.5) + sin(1, 2.5), sin(1, 3) + sin(1, 3), sin(1, 3.5) + sin(1, 3.5), sin(1, 4) + sin(1, 4), sin(1, 4.5) + sin(1, 4.5), sin(1, 5) + sin(1, 5), sin(1, 5.5) + sin(1, 5.5), sin(1, 6) + sin(1, 6), sin(1, 6.5) + sin(1, 6.5), sin(1, 7) + sin(1, 7), sin(1, 7.5) + sin(1, 7.5), sin(1, 8) + sin(1, 8), sin(1, 8.5) + sin(1, 8.5), sin(1, 9) + sin(1, 9), sin(1, 9.5) + sin(1, 9.5), sin(1, 10) + sin(1, 10)]
                )
                );
                new Chart(document.getElementById("wave-chart-3"),
                chartConfig(
                'Destructive Interference',
                'Time (s)',
                [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10],
                'Position (m)',
                [sin(1, 0) - sin(1, 0), sin(1, 0.5) - sin(1, 0.5), sin(1, 1) - sin(1, 1), sin(1, 1.5) - sin(1, 1.5), sin(1, 2) - sin(1, 2), sin(1, 2.5) - sin(1, 2.5), sin(1, 3) - sin(1, 3), sin(1, 3.5) - sin(1, 3.5), sin(1, 4) - sin(1, 4), sin(1, 4.5) - sin(1, 4.5), sin(1, 5) - sin(1, 5), sin(1, 5.5) - sin(1, 5.5), sin(1, 6) - sin(1, 6), sin(1, 6.5) - sin(1, 6.5), sin(1, 7) - sin(1, 7), sin(1, 7.5) - sin(1, 7.5), sin(1, 8) - sin(1, 8), sin(1, 8.5) - sin(1, 8.5), sin(1, 9) - sin(1, 9), sin(1, 9.5) - sin(1, 9.5), sin(1, 10) - sin(1, 10)]
                )
                );
              script(src='/assets/js/lesson.js')
