header
  //- Navigation
  nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href='/')
        i.fa.fa-rocket(aria-hidden='true')
        |  Physics in Motion
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/about') What We Do
          li.nav-item
            a.nav-link(href='/courses') Courses
          li.nav-item
            button.btn.btn-primary(type='button', class='mx-2', onclick="location.href = '/register';") Register
          li.nav-item
            a.nav-link(href='/login') Login
