header
  //- Navigation
  nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href='/')
        i.fa.fa-rocket(aria-hidden='true')
        |  Physics in Motion
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/about') What We Do
          li.nav-item
            a.nav-link(href='/courses') Courses
          li.nav-item.dropdown
            a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Profile
            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownBlog')
              p.dropdown-item.text-muted
                | Logged in as #{user.username}
              a.dropdown-item(href='/') Dashboard
              a.dropdown-item(href='/settings') Settings
          li.nav-item
            a.nav-link(href='/logout') Logout
