//- doctype html
html(lang='en',ng-app='postApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/assets/img/rocket.png')
    title #{ title }
    //- Bootstrap core CSS
    link(href='/assets/libs/bootstrap/bootstrap.min.css', rel='stylesheet')
    //- Custom styles for this template
    link(href='/assets/css/home/carousel.css', rel='stylesheet')
    link(href='/assets/css/style.css', rel='stylesheet')
    //- Google Analytics
    include ../google-analytics.pug
  body(ng-controller='mainController')
    if (!user)
      include ../navbar/default-nav.pug
    if (user)
      include ../navbar/user-nav.pug
    main(role='main')
      //-
        Marketing messaging and featurettes
        ==================================================
      //- Wrap the rest of the page in another container to center all the content.
      .container
        .row.featurette
          .col-md-12
            h2.featurette-heading
              
            //- ANGULAR DYNAMIC CONTENT
            div.ng-view
  
        //- /END THE FEATURETTES
        //- /.container
        //- FOOTER        
        include ../footer/home-footer.pug        
    //-
      Bootstrap core JavaScript
      ==================================================
    //- Placed at the end of the document so the pages load faster
    script(src='/assets/libs/jquery/jquery.slim.min.js')
    script(src='/assets/libs/bootstrap/popper.min.js')
    script(src='/assets/libs/bootstrap/bootstrap.min.js')
    script(src='/assets/libs/bootstrap/holder.min.js')
    //- Font Awesome
    script(src='/assets/libs/font-awesome/fontawesome-all.min.js')
    //- AngularJS
    script(src='/assets/libs/angular/angular.min.js')
    script(src='/assets/libs/angular-route/angular-route.min.js')
    //- ANGULAR CUSTOM
    script(src='/assets/js/postApp.js')
