<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="./assets/libs/bootstrap/bootstrap.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Physics in Motion</span>
          </a>
          <ul class="nav nav-pills">
            <a href="/about" class="text-decoration-none nav-link text-dark"><li class="nav-item">About</li></a>
          </ul>
        </header>
      </div>
      <main>
        {{ content }}
      </main>
      <footer class="pt-5 my-5 text-muted border-top">
        Physics in Motion &middot; &copy; 2021
      </footer>
    </div>
    <script src="./assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
